<!DOCTYPE html>
<html>
<head>
    <title>A S H | LOGin</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.0.3/dist/purify.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body class="bdy">
    <h1>A S H</h1>
    <div class="form-wrapper">
        <form class="form-container" id="login_form" method="post" action="/Auth/login">
            <h3>LOGin</h3>
            <input type="text" class="username" id="username" placeholder="Email">
            <br>
            <input type="password" class="Password" id="password" placeholder="Password">
            <br>
            <button type="submit" class="submit" id="submit">Submit</button>
            <br>
            <a href="#">Forget Password?</a>
            <br>
            <a href="/register">Create Account</a>
        </form>
    </div>
</body>
</html>